* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat-Regular;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"), url(../../utils/static/Montserrat-Regular.ttf) format(
    "opentype");
}